/* Inserta tu codigo aqui */
body{
	font-size: 15px;
	font-family: 'Open Sans', Arial;
}
.logo-nav{
	height: auto !important;
	width: 40%;
}

nav{
	background-color: transparent;
	box-shadow: none;
}

.bg-color{
	background-color: rgba(0,0,0,0.8);
	padding-bottom: 14px;
}

.navigation{
	font-weight: 400;
	font-style: italic;
}

.a-nav{
	font-size: 1rem;
	margin: 7px;
}

.section-bg{
	background-color: #2D2735;
    padding-top: 28px;
    padding-bottom: 28px;
}
.flower-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('../image/header-image.jpg');
    height: 400px;
    padding-bottom: 21px;
    padding-top: 21px;
}

.box-text{
    background-color: rgba(0,0,0,0.6);
    height: auto !important;
    left: 25%;
    padding-bottom: 21px;
    padding-top: 21px;
    position: relative;
    top: 5rem;
    width: 50%;
}

.title-box{
	color: #F7BA6A;
	font-family: 'Courgette';
}

.text-box{
	color: white;
}

.card{
	margin: 0.5rem 1rem 0rem 1rem;
}

.margin-video{
	margin: 1rem 1rem 0rem 1rem !important;
}

.section-color{
	background-color: #1C1821 !important;
	box-shadow: none;
}

.section-color p{
	color: white !important;
}

.card-reveal{
	transform: translateY(-50%) !important;
}

.pr-search{
	padding-right: 2.5rem !important; 
}

.social-color{
	background-color:#2D2735;
}

footer.section-color {
	display: block;
	padding: 5px 0;
}

@media screen and (max-width : 992px) {
.logo-nav {
	height: auto !important;
	width: 100%;
	}

.container{
	padding-bottom: 7px;
	}

.brand-logo{
	width: 28%;
	}
}

@media screen and (max-width: 770px) {
	.title-box{
	color: #F7BA6A;
	font-family: 'Courgette';
	font-size: 2rem;
	}
}

@media screen and (max-width: 600px) {
	.brand-logo{
	width: 30%;
	}
}